In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
%matplotlib inline

In [2]:
airbnb = pd.read_csv('/Users/salilketkar/thinkful/airbnb challenge/listings2.csv')
airbnbMod = airbnb.iloc[:,9:]
airbnbMod.head()

,host_total_listings_count,accommodates,bathrooms,bedrooms,beds,square_feet,price,weekly_price,monthly_price,security_deposit,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,1.0,4,1.0,1.0,2.0,NaN,$100.00,NaN,NaN,$120.00,...,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,0.45
1,51.0,6,1.0,2.0,4.0,75.0,$130.00,NaN,NaN,$150.00,...,t,HUTB-003004,NaN,f,f,flexible,f,f,34,0.03
2,51.0,8,2.0,3.0,6.0,NaN,$130.00,NaN,NaN,$150.00,...,t,HUTB-002062,NaN,t,f,strict_14_with_grace_period,f,f,34,0.08
3,2.0,3,1.0,1.0,1.0,NaN,$32.00,$185.00,$580.00,NaN,...,t,NaN,NaN,t,f,strict_14_with_grace_period,f,f,2,1.78
4,2.0,2,1.0,1.0,1.0,108.0,$33.00,NaN,NaN,$100.00,...,t,NaN,NaN,f,f,moderate,f,f,2,3.15

### Data Cleaning

In [3]:
airbnbMod['price'] = airbnbMod['price'].apply(lambda x: str(x).replace('$',''))
airbnbMod['price'] = airbnbMod['price'].apply(lambda x: str(x).replace(',',''))
airbnbMod['price'] = airbnbMod['price'].apply(lambda x: str(x).replace('.',''))
airbnbMod['price'] = pd.to_numeric(airbnbMod['price'])


airbnbMod1 = airbnbMod.select_dtypes(include=['number'])
airbnbMod1.drop(['minimum_nights','maximum_nights','square_feet','jurisdiction_names','availability_30','availability_60','availability_90','availability_365'],axis=1,inplace=True)
airbnbMod1.dropna(inplace=True)


pd.set_option('display.max_columns',100)
airbnbMod1.head()

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

,host_total_listings_count,accommodates,bathrooms,bedrooms,beds,price,guests_included,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
0,1.0,4,1.0,1.0,2.0,10000,2,40,92.0,9.0,8.0,10.0,10.0,10.0,9.0,1,0.45
1,51.0,6,1.0,2.0,4.0,13000,2,1,80.0,10.0,10.0,2.0,10.0,10.0,8.0,34,0.03
2,51.0,8,2.0,3.0,6.0,13000,2,5,85.0,9.0,10.0,10.0,10.0,9.0,9.0,34,0.08
3,2.0,3,1.0,1.0,1.0,3200,2,173,89.0,9.0,9.0,10.0,10.0,10.0,9.0,2,1.78
4,2.0,2,1.0,1.0,1.0,3300,1,87,88.0,9.0,9.0,10.0,10.0,9.0,9.0,2,3.15

In [4]:
airbnbData = airbnbMod1.drop('price',axis=1)
airbnbTarget = airbnbMod1.price

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(airbnbData, airbnbTarget, test_size=0.3)

In [50]:
from sklearn import tree

import timeit

start = timeit.default_timer()

decision_tree = tree.DecisionTreeRegressor(
max_features='auto',
min_samples_split=30
)

decision_tree.fit(X_train, y_train)
stop = timeit.default_timer()

print('Time: ', stop - start) 



print('Accuracy for train data:',decision_tree.score(X_train,y_train))
print('Accuracy for test data:',decision_tree.score(X_test,y_test))

Time:  0.051684691017726436
Accuracy for train data: 0.41481934332960657
Accuracy for test data: 0.46376087673004984

In [48]:
from sklearn.ensemble import RandomForestRegressor
import timeit

start = timeit.default_timer()

rf = RandomForestRegressor()
rf.fit(X_train,y_train)

stop = timeit.default_timer()

print('Time: ', stop - start) 


print('Accuracy for train data:',rf.score(X_train,y_train))
print('Accuracy for test data:',rf.score(X_test, y_test))

Time:  0.4328557780245319
Accuracy for train data: 0.8469785657087353
Accuracy for test data: 0.5258291056712602

In [44]:
from sklearn.model_selection import cross_val_score
cross_val_score(decision_tree, X_test, y_test, cv=10)

array([0.45175349, 0.12484786, 0.30481929, 0.24646073, 0.30028649,
       0.26209283, 0.41537023, 0.48525538, 0.47589069, 0.25969866])

In [45]:
from sklearn.model_selection import cross_val_score
cross_val_score(rf, X_test, y_test, cv=10)

array([0.51522582, 0.57582363, 0.53673787, 0.3546378 , 0.49819887,
       0.61895064, 0.49748313, 0.52287426, 0.44699015, 0.17602806])